<%= form_for @todo do |f| %>

  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <ul>
        <h2>errors:</h2>
        <% @todo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end  %>
  
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.submit %>
<% end %>
