<div class="todo">
  <div class="description">
    <%= link_to todo.body, todo_path(todo) %>
    <p>
      <%= "by #{todo.author}" %>
    </p>
  </div>

  <div class="actions">
    <%= link_to "Delete this todo", todo_path(todo),
                    method: :delete,
                    data: {confirm: "Are you sure?"} %>

    <% unless todo.completed %>
      <%= link_to "Mark Complete",
                    mark_complete_todo_path(todo),
                    method: :put %>
    <% end %>

    <%= link_to "Edit", edit_todo_path(todo) %>
  </div>
</div>
