<h2><%= link_to "All Todos", todos_path %></h2>

<h2>Edit Todo</h2>

<%= form_for @todo do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.label "First Name" %>
  <%= f.text_field :author_first_name %>
  <%= f.label "Last name" %>
  <%= f.text_field :author_last_name %>
  <%= f.submit %>
<% end %>
